.testCaseExecuteTable {
  height: 80%;
  width: 100%;
  top: 0%;
  position: absolute;
  background-color: white;
  border-radius: 5px;
}

.testCaseExecuteTableContainer {
  height: 90%;
  width: 50%;
  top: 10%;
  left: 3%;
  position: absolute;
}

.anchorDiv {
  float: left;
  clear: both;
  height: 400%;
  width: 2px;
  top: -300px;
  position: relative;
}
.textDiv {
  position: relative;
  top: 300px;
}

.greenTick:before {
  font-family: FontAwesome;
  color: green;
  padding-left: 20px;
  content: "\f00c";
  font-size: 20px;
}

.redCross:before {
  font-family: FontAwesome;
  color: red;
  padding-left: 20px;
  content: "\f00d";
  font-size: 20px;
}

.hourglass:before {
  font-style: normal;

  font-family: FontAwesome;
  color: grey;
  padding-left: 20px;
  content: "\f252";
  font-size: 20px;
}
